{% extends 'base.html' %}

{% block title %}Кушбэк{% endblock %}

{% block content %}
    <h1>Кушбэк</h1>
    <ul>
        {% if data.cart_items %}
            {% for item in data.cart_items %}
                <li>{{ item.title }}</li>
            {% endfor %}
        {% else %}
            <p>У вас не выбран кешбэк</p>
        {% endif %}
    </ul>

    <!-- Кнопка для очистки корзины -->
    <a href="{% url 'clear_cart' %}" class="clear-cart-button">Очистить</a>

    <!-- Кнопка "Назад" -->
    <a href="{% url 'home' %}" class="back-button">Назад</a>
{% endblock %}

