{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Выбранные категории кешбэка за {{ data.current_month }}</h1>
    <div class="cart-container">
        {% if data.categories_cashbacks %}
            {% for item in data.categories_cashbacks %}
                <div class="cart-item">
                    <img src="{{ item.image_url }}" alt="{{ item.title }}" class="cart-item-image">
                    <div class="cart-item-content">
                        <h3 class="cart-item-title">{{ item.title }}</h3>
                        <p class="cart-item-details">{{ item.details_text }}</p>
                    </div>
                    <div class="cart-item-summary">
                        <p class="cart-item-spent"><strong>Потрачено:</strong> {{ item.spent.amount }} руб.</p>
                        <p class="cart-item-cashback"><strong>Получено кешбэка:</strong> {{ item.cashback_received }} руб.</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Корзина пуста.</p>
        {% endif %}
    </div>
{% endblock %}


