{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<form method="GET" action="" style="display: flex; align-items: center;">
    <input type="text" name="cashback_categories" placeholder="Поиск по категориям" value="{{ request.GET.cashback_categories }}" class="search-input">
    <button type="submit" class="search-button">Найти</button>
    <a href="{% url 'monthly_cashbacks' data.current_report_id %}" class="cart-button">  
        Ваши кешбэки
        <span class="cart-item-count">({{ data.cart_item_count }})</span>
    </a>
</form>

<div class="cards-container">
    {% for service in data.services %}
        <div class="card">
            <a href="{% url 'cashback_details' service.id %}">
                <img src="{{ service.image_url }}" alt="{{ service.category }}" class="card-image">
                <h3>{{ service.category }}</h3>
                <p>{{ service.cashback_percentage_text }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

